{% extends "page.html" %}
{% block jsfiles %}
<script src="/site_media/js/jquery-ui.min.js" type="text/javascript" language="javascript"></script>
{% endblock %}
{% block jscode %}

$(function() {
    // assign the autocomplete ui to the keyword 
    // input for searching metadata
    $("#keyword").autocomplete({
        source: "/pilot/autocomplete/",
        minLength: 2
    });
});


/*
 * function goes and gets the matching
 * meta data for matching keywords
 */
function searchMetaData(f) {
    var search_url = "/pilot/search/" + f.keyword.value
    $.ajax({
        type: "GET",
        url: search_url,
        dataType: "html",
        success: displayObjects
    });
}


/*
 * this function displays the objects
 * that have been found via searching 
 * the metadata
 */
function displayObjects(data) {
    var json = $.parseJSON(data);

    // no search results
    if( json.search.matches.length == 0 ) {
        $('#objectListing').html("No search results for: " + json.search.keyword);
    }
    // search results existing
    else {
        $('#objectListing').html("Search results for: " + json.search.keyword +"<br />");
        var o = json.search.matches;
        var str = "";
        var re = new RegExp("(" + json.search.keyword + ")");
        str += "<table><tr><th>Name</th><th>ID</th><th>Metadata</th><th>Version</th><th>Last Updated</th></tr>";
        // loop over unique objects that matched search
        for (var i=0; i < o.length; i++) {
            
            str += "<tr><td><a href=\"/pilot/"+ o[i].ark + "\">"+ o[i].title +"</a></td><td>" + o[i].ark + "</td><td>";
            // loop over metadata for matched object
            for (var j=0; j < o[i].metadata.length; j++) {
                str += o[i].metadata[j].triple_predicate + "=>";
                if( re.test(o[i].metadata[j].triple_object) ) {
                    str += o[i].metadata[j].triple_object.replace(re, "<span style=\"color:red\">$1</span>");
                }
                str += "<br />";
            }
            str += "</td><td>" + o[i].version + "</td><td>"+ o[i].version_date+"</td></tr>";
        }
        str += "</table>";
        //$('#objectListing').append(str);
        $('#objectListing').html(str);
    } // close - else there are search results
}

{% endblock %}

{% block total_objects %}{{stats.num_objects}}{% endblock %}
{% block total_files %}{{stats.num_files}}{% endblock %}
{% block total_size %}{{stats.total_size}}{% endblock %}

{% block content %}

<div style="margin: 10px 0 10px 175px;"> <a href="/pilot/object/new/">+New Object</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/pilot/batch/new">++Batch Upload</a>
<span style="padding-left: 300px;">
{% if display == 'icons' %}
View: <a href="/pilot/icons" style="padding: 3px; color: #eee; background: #3c5889;">Icons</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/pilot/list">List</a>
{% else %}
View: <a href="/pilot/icons">Icons</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/pilot/list" style="padding: 3px; color: #eee; background: #3c5889;">List</a>
{% endif %}
    <select >
    <option value="">Order by</option>
    <option value="name">Name</option>
    <option value="updated" selected="true">Last Updated</option>
    <option value="type">Type</option>
    </select>
</span>
</div>

<div id="objectListing">
{% if display == 'icons' %}
<table width="80%">
    <tr>
{% for o in objects %}
        <td>
<a href="/pilot/{{o.arkid}}">
{% if o.filetype == 'pdf' %}
   <img src="/site_media/img/icons/pdf.png" alt="" width="53" height="53" title="" border="" />
{% else %} {%if o.filetype == 'image/jpg' %}
   <img src="/site_media/img/icons/{{o.img}}_thumb.jpg" alt=""  title="" border="" />
{% else %} {% if o.filetype == 'zip' %}
   <img src="/site_media/img/icons/zip.png" alt="" width="53" height="53" title="" border="" />
{% else %} {% if o.filetype == 'folder' %}
   <img src="/site_media/img/icons/folder.png" alt="" width="53" height="43" title="" border="" />
{% else %}
   <img src="/site_media/img/icons/text.png" alt="" width="53" height="53" title="" border="" />
{% endif %}{% endif %}{% endif %}{% endif %}
</a>
        <td>
        <td>
            <b>Name:</b> {{ o.name }}<br />
            <b>Id:</b> {{ o.arkid }}<br />
            <b>Last Updated:</b> {{ o.version_date }}<br />
        </td>
    {% if forloop.counter|divisibleby:3 %} <!-- or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12  -->
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
    {% endif %}

{% endfor %}
    </tr>
</table>
{% else %}
<table width="80%">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Object Type</th>
        <th>Version #</th>
        <th>Last Updated</th>
    </tr>
    {% for o in objects %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="/pilot/{{o.arkid}}">{{o.name}}</a></td>
        <td>{{o.arkid}}</td>
        <td>{{o.filetype}}</td>
        <td>{{o.version}}</td>
        <td>{{o.version_date}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}



<!--
<input type="button" onclick="getIdentifier();" value="Got Id?" />
<div id="identifier"></div>


<input type="button" onclick="getFixity();" value="Got Fixity?" />
<div id="fixity"></div>

-->
