{% extends "page.html" %}

{% block jsfiles %}
<script src="/site_media/js/jquery.uploadProgress.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/js/jquery.tablesorter.js" type="text/javascript" language="javascript"></script>
{% endblock %}

{% block cssinline %}
#progress_container {
    font-size: .9em;
    width: 100%;
    height: 1.25em;
    position: relative;
    margin: 3em 0;
    display: none;
}

#progress_filename {
    font-size: .9em;
    width: 100%;
}

#progress_bar {
    width: 100%;
    border: 1px solid #999;
}

#progress_indicator {
    background: #8a9;
    width: 0;
    height: 4px;
}
.note {
    border: 1px #ffcc00 solid;
    background: #fcfeda;
    display: none; 
    width: 80%;
    padding: 5px;
    margin:0;
}
{% endblock %}

{% block jscode %}

var fileSizePattern = /^(\d+(?:\.\d+)*)\s*([egkmpt])b?$/i;
$.tablesorter.addParser({ 
    id: 'filesize',
    is: function(s) { 
        return fileSizePattern.test(s); 
    }, 
    format: function(s) {
        var groups = fileSizePattern.exec(s);
        if (groups != null)
        {
            var size = new Number(groups[1]);
            var unit = groups[2].toLowerCase();
            switch (unit) {
                case 'k':
                    return size * 1024;
                case 'm':
                    return size * Math.pow(1024, 2);
                case 'g':
                    return size * Math.pow(1024, 3);
                case 't':
                    return size * Math.pow(1024, 4);
                case 'p':
                    return size * Math.pow(1024, 5);
                case 'e':
                    return size * Math.pow(1024, 6);
                return size;
            }
        }
    }, 
    type: 'numeric' 
}); 



$(document).ready(function() 
    { 
        $("#upload_table").tablesorter({
            cssHeader: 'sortable', 
            cssAsc: 'sortedAsc', 
            cssDesc: 'sortedDesc', 
            widgets: ['zebra'],
            headers: {3: {sorter: false}}
        });
        
        $(function() {
            $('#upload_form').uploadProgress({
                jqueryPath: "/site_media/js/jquery.js",
                progressBar: '#progress_indicator',
                progressUrl: '/pilot/upload_progress/', //'{ url upload_progress }',
                start: function() {
                    $("#upload_form").hide();
                    filename = $("#file_").val().split(/[\/\\]/).pop();
                    $("#progress_filename").html('Uploading ' + filename + "...");
                    $("#progress_container").show();
                },
                uploadProgressPath: "/site_media/js/jquery.uploadProgress.js",
                uploading: function(upload) {
                    if (upload.percents == 100) {
                        window.clearTimeout(this.timer);
                        $("#progress_filename").html('Processing ' + filename + "...");
                    } else {
                        $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                    }
                },
                interval: 1000
            });
        });
    }
);


/*
 * this function determines if the user is trying to upload
 * a zip file (or similar type) and displays a message to the 
 * user, if they'd like the file unzipped on upload
 * 
 * determines the file type by extension
 */
function checkFileType(ff) {
    var index = ff.id.lastIndexOf("_");
    if( index == -1) {
        return;
    }
    // get the id number to use
    var id = ff.id.substring(index+1);
    var uzip = "unzip_" + id;
    var error = "error_ff_" + id;
    //$('#'+error).hide();
    hideZipDialog(id);
    var archiveExts = [".zip", ".tar", ".bz2", ".gz"];
    var fname = ff.value;
    var dot = fname.lastIndexOf(".");
    if( dot == -1 ) {
        return;
    }
    var ext = fname.substring(dot); 
    // show the error message
    if( $.inArray(ext, archiveExts) != -1) {
        $('#'+error).hide().fadeIn('slow');
        $('#'+uzip).show();
    }

}


/*
 * hides the elements that display the file upload is a 
 * zip file and can be unzipped on upload 
 */
function hideZipDialog(id) {
    $('#error_ff_'+id).hide();
    $('#unzip_'+id).hide();
}


/*
 * add a form element that will allow a user to upload
 * additional files
 */
function addFileInput() {
    var fi_dupe = new Object();
    fi_dupe['updateIds'] = ["ff_1", "file_1", "unzip_1", "unzip_cb_1", "error_ff_1"];
    fi_dupe['prefixIds'] = ["ff_", "file_", "unzip_", "unzip_cb_", "error_ff_"];
    fi_dupe['nodeId'] = 'ff_1';
    fi_dupe['nodePrefix'] = 'ff_';
    fi_dupe['countId'] = 'upload_count';

    var nxtId = addFormElement(fi_dupe);

    // hide the zip elements 
    hideZipDialog(nxtId);
}

/*
 * this function adds the necessary elements to
 * add more metadata
 */
function addMetaInput() {
    var md_dupe = new Object();
    md_dupe['updateIds'] = ['md_1', 'meta_type_1', 'meta_value_1'];
    md_dupe['prefixIds'] = ['md_', 'meta_type_', 'meta_value_'];
    md_dupe['nodeId'] = 'md_1';
    md_dupe['nodePrefix'] = 'md_';
    md_dupe['countId'] = 'metadata_count';

    addFormElement(md_dupe);
}


/* 
 * function takes an object and adds a form element 
 * based on the values of that object
 *
 * duplicate.updateIds => array of ids to increment value of
 * duplicate.prefixIds => prefix that doesnt include the increment
 *          suffix, of ids to increment
 * duplicate.nodeId => node that we will duplicate
 * duplicate.nodePrefix => prefix of node to duplicate, not including
 *          the suffix that indicates which element number this is
 * duplicate.countId => id of the form element that is keeping track 
 *           of the number of elements we have duplicated
 */
function addFormElement(duplicate) {
    var cv = $('#'+duplicate.countId).attr("value");

    var cloneNode = $('#'+duplicate.nodeId).clone();
    var nxtId = parseInt(cv) + 1;
    cloneNode.attr("id", duplicate.nodePrefix+nxtId);

    for (var i=0; i < duplicate.updateIds.length; i++) {
        newId = duplicate.prefixIds[i] + nxtId;
        var elem = cloneNode.find('#'+duplicate.updateIds[i]);
        elem.attr("id", newId); 
        // if element has a name attribute - update as well
        if (elem.attr("name")) {
            elem.attr("name", newId); 
        }
        if (elem.is("input")) {
            elem.attr("value", "");
        } 
        else if (elem.is("select")) {
            elem.attr("selectedIndex", 0);
        }
    }
   
    cloneNode.insertAfter('#'+duplicate.nodePrefix+cv);

    $('#'+duplicate.countId).attr("value", nxtId); 

    return nxtId;
}

{% endblock %}
<p>
Choose a file to upload, add metadata and click &quotUpload Object&quot;
</p>

{% block content %}
<form name="" id="upload_form" action="/pilot/upload" method="POST" enctype="multipart/form-data" class="uniForm">


<fieldset>
<legend>Upload New Object</legend>

<p style="margin: 0; padding-left: 10px;margin-bottom: 15px; ">
Choose the file you would like to ingest.  Once you have choosen a file to uplaod, you <br />
may choose to assign metadata to be saved with this file.  If you would like to add <br />
additional files or metadata click the corresponding button.
</p>
{% csrf_token %}

{% if batch %}
<!-- batch upload -->
<input type="hidden" name="batch" value="1" />
<input type="hidden" name="upload_count" id="upload_count" value="5" />

{% else %}
<!-- single upload -->
<input type="hidden" name="batch" value="0" />
<input type="hidden" name="upload_count" id="upload_count" value="1" />

{% endif %}
<input type="hidden" name="metadata_count" id="metadata_count" value="1" />

<!-- FILE UPLOAD -->
{% for i in range %}

<div id="ff_{{forloop.counter}}"> 
<label class="reg">File:</label> <input type="file" id="file_{{forloop.counter}}" name="file_{{forloop.counter}}" onchange="checkFileType(this);"/>
<span id="unzip_{{forloop.counter}}" class="hidden" ><input type="checkbox" id="unzip_cb_{{forloop.counter}}" name="unzip_cb_{{forloop.counter}}" value="1" checked="true" />Unzip Contents</span>
<p id="error_ff_{{forloop.counter}}" class="note hidden">
By default, this file will be unzipped and the contents stored individually. 
Uncheck the box above if you would like to store the zip file as one file. 
</p>
</div>

{% endfor %}

<!-- ADD MORE FILE UPLOADS -->
<div id="addfile">
<a href="#" onclick="addFileInput(); return false;">+Add Files</a>
</div>

<!-- METADATA -->
<p style="margin: 0; margin-top: 15px; margin-bottom: 5px;">
Metadata will be assigned to all files.
</p>

<div id="md_1">
<label class="reg">Metadata:</label> 
<select name="meta_type_1" id="meta_type_1" size="1">
{% for m in meta %} 
    <option value="{{m}}">{{m}}</option>
{% endfor %}
</select>
<input type="text" name="meta_value_1" id="meta_value_1" size="20" maxlength="" />
</div>


<!-- ADD MORE METADATA -->
<div id="addmeta">
<a href="#" onclick="addMetaInput(); return false;">+Add Metadata</a>
</div>

<!-- SUBMIT -->
<p style="padding-left: 150px">
<input type="submit" value="Upload Object" />
</p>
</fieldset>
</form>

<!-- PROGRESS BAR -->
<div id="progress_container">
    <div id="progress_filename"></div>
    <div id="progress_bar">
        <div id="progress_indicator"></div>
    </div>
</div>
{% endblock %}

