{% extends "page.html" %}

{% block jsfiles %}
<script src="/site_media/js/jquery.uploadProgress.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/js/jquery.tablesorter.js" type="text/javascript" language="javascript"></script>
{% endblock %}

{% block cssinline %}
#progress_container {
    font-size: .9em;
    width: 100%;
    height: 1.25em;
    position: relative;
    margin: 3em 0;
    display: none;
}

#progress_filename {
    font-size: .9em;
    width: 100%;
}

#progress_bar {
    width: 100%;
    border: 1px solid #999;
}

#progress_indicator {
    background: #8a9;
    width: 0;
    height: 4px;
}
.note {
    border: 1px #ffcc00 solid;
    background: #fcfeda;
    display: none; 
    width: 80%;
    padding: 5px;
    margin:0;
}
#unzip_1 {
   display: none;
}
{% endblock %}

{% block jscode %}

var fileSizePattern = /^(\d+(?:\.\d+)*)\s*([egkmpt])b?$/i;
$.tablesorter.addParser({ 
    id: 'filesize',
    is: function(s) { 
        return fileSizePattern.test(s); 
    }, 
    format: function(s) {
        var groups = fileSizePattern.exec(s);
        if (groups != null)
        {
            var size = new Number(groups[1]);
            var unit = groups[2].toLowerCase();
            switch (unit) {
                case 'k':
                    return size * 1024;
                case 'm':
                    return size * Math.pow(1024, 2);
                case 'g':
                    return size * Math.pow(1024, 3);
                case 't':
                    return size * Math.pow(1024, 4);
                case 'p':
                    return size * Math.pow(1024, 5);
                case 'e':
                    return size * Math.pow(1024, 6);
                return size;
            }
        }
    }, 
    type: 'numeric' 
}); 



$(document).ready(function() 
    { 
        $("#upload_table").tablesorter({
            cssHeader: 'sortable', 
            cssAsc: 'sortedAsc', 
            cssDesc: 'sortedDesc', 
            widgets: ['zebra'],
            headers: {3: {sorter: false}}
        });
        
        $(function() {
            $('#upload_form').uploadProgress({
                jqueryPath: "/site_media/js/jquery.js",
                progressBar: '#progress_indicator',
                progressUrl: '/pilot/upload_progress/', //'{ url upload_progress }',
                start: function() {
                    $("#upload_form").hide();
                    filename = $("#id_file").val().split(/[\/\\]/).pop();
                    $("#progress_filename").html('Uploading ' + filename + "...");
                    $("#progress_container").show();
                },
                uploadProgressPath: "/site_media/js/jquery.uploadProgress.js",
                uploading: function(upload) {
                    if (upload.percents == 100) {
                        window.clearTimeout(this.timer);
                        $("#progress_filename").html('Processing ' + filename + "...");
                    } else {
                        $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                    }
                },
                interval: 1000
            });
        });
    }
);


function checkFileType(ff, pelem) {
    $('#'+pelem).hide();
    var archiveExts = [".zip", ".tar", ".bz2", ".gz"];
    var fname = ff.value;
    var dot = fname.lastIndexOf(".");
    if( dot == -1 ) {
        return;
    }
    var ext = fname.substring(dot); 
    if( $.inArray(ext, archiveExts) != -1) {
        //var msg = "It appears you are uploading a zip file (or something similar). Check the box below if you would like to store only the contents of the file individually.  If you want the whole zip file stored as one file leave the box unchecked."; 
        //$('#'+pelem).hide().html(msg).fadeIn('slow');
        $('#'+pelem).hide().fadeIn('slow');
        $('#unzip_1').show();
    }

}

function addFileInput() {
    var cv = $('#upload_count').attr("value");
    var fi = $('#ff'+cv).clone();
    var nxtid = parseInt(cv) + 1;
    fi.attr("id", "ff"+nxtid);
    fi.insertAfter('#ff'+cv);   
    $('#upload_count').attr("value", nxtid);
}

function addMetaInput() {
    $('#md1').clone().insertAfter('#md1');
}
{% endblock %}
<p>
Choose a file to upload, add metadata and click &quotUpload Object&quot;
</p>

{% block content %}
<form name="" id="upload_form" action="/pilot/upload" method="POST" enctype="multipart/form-data" class="uniForm">
<input type="hidden" name="upload_count" id="upload_count" value="1" />


<fieldset>
<legend>Upload New Object</legend>

<p style="margin: 0; padding-left: 10px;margin-bottom: 15px; ">
Choose the file you would like to ingest.  Once you have choosen a file to uplaod, you <br />
may choose to assign metadata to be saved with this file.  If you would like to add <br />
additional files or metadata click the corresponding button.
</p>
{% csrf_token %}

{% if batch %}
<!-- batch upload -->
<input type="hidden" name="batch" value="1" />

{% else %}
<!-- single upload -->
<input type="hidden" name="batch" value="0" />

{% endif %}

{%if batch %}
    {% for i in range %}

<div id="ff_1"> 
<label class="reg">File:</label> <input type="file" id="id_file_1" name="file_1" onchange="checkFileType(this);"/>
<span id="unzip_1"><input type="checkbox" id="unzip_id" name="unzip_1" value="1" checked="true" />Unzip Contents</span>
<p id="error_ff1" class="note">
By default, this file will be unzipped and the contents stored individually. 
Uncheck the box above if you would like to store the zip file as one file. 
</p>
</div>
    {% endfor %}
{% else %}

<div id="ff_1"> 
<label class="reg">File:</label> <input type="file" id="id_file_1" name="file_1" onchange="checkFileType(this, 'error_ff_1');" class="textInput removable"/>
<span id="unzip_1"><input type="checkbox" id="unzip_id" name="unzip_1" value="1" checked="true" />Unzip Contents</span>
<p id="error_ff_1" class="note">
By default, this file will be unzipped and the contents stored individually. 
Uncheck the box above if you would like to store the zip file as one file. 
</p>
</div>

{% endif %}

<div id="addfile">
<a href="#" onclick="addFileInput(); return false;">+Add Files</a>
</div>

<p style="margin: 0; margin-top: 15px; margin-bottom: 5px;">
Metadata will be assigned to all files.
</p>

<div id="md1">
<label class="reg">Metadata:</label> 
<select name="meta_type_1" id="meta_type_1" size="1">
{% for m in meta %} 
    <option value="{{m}}">{{m}}</option>
{% endfor %}
</select>
<input type="text" name="meta_value_1" id="meta_value_1" size="20" maxlength="" />
</div>

<div id="addmeta">
<a href="#" onclick="addMetaInput(); return false;">+Add Metadata</a>
</div>
<p style="padding-left: 150px">
<input type="submit" value="Upload Object" />
</p>
</fieldset>
</form>

<div id="progress_container">
    <div id="progress_filename"></div>
    <div id="progress_bar">
        <div id="progress_indicator"></div>
    </div>
</div>
{% endblock %}

