{% extends "page.html" %}

{% block cssinline %}
<!--
.detail {
    font-weight: bold; 
    color: #990000;
    margin-left: 10px;
    margin-right: 5px;
}
.obj_file:hover, .metadata:hover {
    background: #eee;
}
.metadata_edit {
    display: none;
}
#hide_log_link {
    display: none;
}
-->
{% endblock %}

{% block jsfiles %}
<script src="/site_media/js/jquery.jstree.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/js/jquery-ui.min.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/js/meta.js" type="text/javascript" language="javascript"></script>
{% endblock %}


{% block jscode %}
$(document).ready(function() {
    $("#obj-tabs").tabs();

    $('#filetree').fileTree({
        root: '{{phile.identifier}}/data',
        script: '/pilot/filetree/',
        expandSpeed: 500,
        multiFolder: false
       }, function (file) {
            alert(file);
    });
});


/*
 * make ajax call to remove a meta data element
 */
function removeMeta(mdId) {
    var u = "/pilot/meta/remove/" + mdId + "/";
    $.ajax({
        url: u,
        type: "GET",
        dataType: "html",
        success: removeMetaDisplay
    });
}

/*
 * update display for removed metadata element
 */
function removeMetaDisplay(data) {
    var json = $.parseJSON(data);
    var id = json.meta.id 
    $('#mdv_'+id).remove();
    getVersions();
}


/*
 * function goes and gets the latest versions
 * for this object 
 */
function getVersions() {
    var v_url = "/pilot/versions/{{phile.identifier}}";
    $.ajax({
        url: v_url,
        type: "GET",
        dataType: "html",
        success: updateVersionDisplay
    });
}


/*
 * function updates the dropdown display
 */
function updateVersionDisplay(data) {
    var json = $.parseJSON(data);
    var versioning = $('#versioning');
    $('option', versioning).remove();
    for(var i=0; i < json.versions.length; i++) {
        sel = (i == (json.versions.length-1) ? 'selected="selected"' : '');
        opt = '<option value="'+(i+1)+'" ' + sel + '>'+ (i+1) + ' - ' + json.versions[i].version_date + '</option>';
        versioning.append(opt)
        
    }
}


/* 
 * make ajax call to add metadata to object
 */
 function submitMetaData(f) {
    meta_url = "/pilot/meta/add/"
    fields = {
        ark: f.ark.value,
        metadata_count: f.metadata_count.value
    };
    for (var i=1; i <= f.metadata_count.value; i++) {
        k = "meta_type_"+i;
        v = "meta_value_"+i;
        key = eval("f."+k+"[f."+k+".selectedIndex].value");
        val = eval("f."+v+".value");
        fields[k] = key;
        fields[v] = val;
    }
    $.ajax({
        url: meta_url,
        type: "POST",
        data: fields,
        dataType: "html",
        success: displayNewMeta
    });
}


 /*
  * update display to reflect new metadata
  */
function displayNewMeta(data) {
    //var json = $.parseJSON(data);
    $('#md_display').html( data );
    getVersions();
}


/*
 * this function will display a form to edit meta data
 * or swap with the current metadata values
 */
function toggleMeta(mdId) {
    mde = 'mde_'+mdId;
    mdv = 'mdv_'+mdId;
    $('#'+mde).toggle();
    $('#'+mdv).toggle();
}


/*
 * this function takes a metadata form
 * being displayed and updates the corresponding
 * values via ajax
 */
function updateMetaData(f) {
    var meta_url = '/pilot/meta/update';
    var mid = f.meta_id.value;
    var mt = f.meta_type[f.meta_type.selectedIndex].value;
    var mv = f.meta_value.value;
    //alert(mid + " " + mt + " " + mv); 
    $.ajax({
        url: meta_url,
        type: "POST",
        data: ({meta_id : mid, meta_type: mt, meta_value: mv}),
        dataType: "html",
        success: changeMetaDataDisplay
    });
    return false;
}

/*
 * this function will update the metadata being display
 * with the new values that were updated in updateMetaData
 */
function changeMetaDataDisplay(data) {
    var json = $.parseJSON(data);
    var id = json.meta.meta_id;
    $('#key_'+id).html(json.meta.meta_type);
    $('#val_'+id).html(json.meta.meta_value);
    $('#status_'+id).fadeIn(500);
    $('#status_'+id).html("Updated successfully.")
    toggleMeta(id);
    $('#mdv_'+id).effect("highlight", {color: '#ff9900'}, 4000);
    $('#status_'+id).fadeOut(5000);
    getVersions();
}

/*
 * function makes ajax call to audit current object
 */
 function auditObject(ark) {
    audit_url = "/pilot/audit/"+ark;
    $.ajax({
        url : audit_url,
        type: "GET",
        dataType: "html",
        success: updateAudit
    });

 }

/*
 * function displays results of the audit that was run
 */
 function updateAudit(data) {
    var json = $.parseJSON(data);
    d = json.audit.date_updated;
    r = json.audit.result;
    v = json.audit.valid;
    $('#audit_date').html(d);
    if (v=="True") {
        $('#valid').html("Valid");
    }
    else {
        $('#valid').html("Invalid");
    }
    $('#result').html(r)
 }


function getObjLog(ark) {
    log_url = "/pilot/log/"+ark;
    $.ajax({
        url: log_url,
        type: "GET",
        dataType: "html",
        success: viewObjLog
    });
}

function viewObjLog(data) {
    var json = $.parseJSON(data);
    var ev_log = json.Logs.log;
    var str = "<table><tr><th width=\"40%\">Action</th><th width=\"30%\">User</th><th width=\"30%\">Date</th></tr>";
    for (var i=0; i < ev_log.length; i++) {
        str += "<tr><td>" + ev_log[i].action + "</td><td>" + ev_log[i].user + "</td><td>" + ev_log[i].date_updated + "</td></tr>";
    } 
    $('#obj-log').html(str);
    return;
    $('#log').append(str);
    $('#hide_log_link').toggle(); 
    $('#view_log_link').toggle(); 
}

function hideObjLog() {
    $('#hide_log_link').toggle(); 
    $('#view_log_link').toggle(); 
    $('#log').html('');
}

{% endblock %}

{% block nav %}
    <li><a href="/pilot/list/">Dashboard</a></li>
    <li><a href="/pilot/object/new/">Ingest Tool</a></li>
{% endblock %}

{% block total_objects %}{{stats.num_objects}}{% endblock %}
{% block total_files %}{{stats.num_files}}{% endblock %}
{% block total_size %}{{stats.total_size}}{% endblock %}


{% block content %}
<h1>Object Management</h1>
<a href="/pilot/list/">&laquo; Reurn to Dashboard</a>
<div id="object">
    <div class="item">
        <h2>{{obj_name}}</h2>
        <img class="icon preview" src="/site_media/img/site_images/{{img}}_128.png" alt="folder" />
        <div id="obj-tabs"> 
                <ul class="nav">
                    <li><a href="#obj-details">Object Details</a></li>
                    <li><a href="#obj-files">Files</a></li>
                    <li><a href="#obj-log" onclick="getObjLog('{{phile.identifier}}'); return false;">Log</a></li>
                </ul>
                <div id="obj-details">
                    <table>
                        <tr>
                            <td class="left">
                                <h3>Object Details:</h3>
                                <a class="audit filelink" href="/" onclick="auditObject('{{phile.identifier}}'); return false;">Audit</a>
                            </td>
                            <td>
                                <strong>ID:</strong> {{phile.identifier}}<br /> 
                                <strong>Date Updated:</strong> {{phile.date_updated}}<br /> 
                                <strong>Type:</strong> {{phile.obj_type}}</strong> <br /> 
                                <strong>Last Audit:</strong> 
{% if last_audit %}
<span id="audit_date">{{ last_audit.date_updated }}</span>
    {% if not last_audit.valid %}
        <span id="valid">Invalid</span> <span id="result">{{ last_audit.result }}</span>
    {% else %}
        <span id="valid">Valid</span> <span id="result"></span>
    {% endif %}
{% else %}
<span id="audit_date">Never Run</span>
<span id="valid"></span>
<span id="result"></span>
{% endif %}
<br />

                                <strong>Object Size:</strong> {{phile.sz}} <br />
                                <strong># Object Files:</strong> {{phile.num}}<br/>
                                <strong>Current Version:</strong>
<select name="versioning" id="versioning">
<!-- hex is returned from git and log is the commit log for that version -->
{% for hex, log, commit_date in versions reversed %}
    {% if forloop.last %}
        <option value="{{ forloop.counter }}" selected="selected">{{forloop.counter}} - {{commit_date}}</option>
    {% else %}
        <option value="{{ forloop.counter }}">{{forloop.counter}} - {{commit_date}}</option>
    {% endif %}
{% endfor %}
</select>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <h3>Metadata:</h3>
                                <a class="meta filelink" href="/" onclick="addMetaInput(); return false;">Add Metadata</a>
                            </td>
                            <td id="md_display">
                            <!-- METADATA DISPLAY -->
{% for m in md %}
<span id="mdv_{{m.id}}" class="metadata">
<a href="/" onclick="toggleMeta('{{m.id}}'); return false;"><img src="/site_media/img/site_images/icon_edit.png" alt="edit" title="edit"/></a>
<a href="/" onclick="return false;"><img src="/site_media/img/site_images/icon_duplicate.png" alt="duplicate" title="copy"/></a>
<a href="/" onclick="removeMeta('{{m.id}}'); return false;"><img src="/site_media/img/site_images/icon_delete.png" alt="delete" title="delete" /></a>&nbsp;&nbsp;
<strong><span id="key_{{m.id}}">{{m.triple_predicate}}</span>:</strong> 
<span id="val_{{m.id}}">{{m.triple_object}}</span>
<span id="status_{{m.id}}"></span>
</span>

<!-- form to edit a meta data value -->
<div class="metadata_edit" id="mde_{{m.id}}">
<form onsubmit="return updateMetaData(this);">
<input type="hidden" name="meta_id" id="meta_id" value="{{m.id}}" />
<select name="meta_type" id="meta_type"> 
    <option value="">Select Metadata Type</option>
    {% for vals in meta %} 
        {% if vals == m.triple_predicate %}
            <option value="{{vals}}" selected="selected">{{vals}}</option>
        {% else %}
            <option value="{{vals}}">{{vals}}</option>
        {% endif %}
    {% endfor %}
</select>
<input type="text" name="meta_value" id="meta_value" size="20" maxlength="" value="{{m.triple_object}}"/> 
<input type="submit" value="update" />
<input type="button" value="cancel" onclick="toggleMeta('{{m.id}}');"/>
</form> 
</div>
<!-- end edit form -->

{% endfor %}
                            <!-- ADD METADATA -->
<p>
<form onsubmit="submitMetaData(this); return false;">
<input type="hidden" name="ark" id="ark" value="{{phile.identifier}}" />
<input type="hidden" name="metadata_count" id="metadata_count" value="1" />
<div id="md_1">
<label class="reg">Metadata:</label> 
<select name="meta_type_1" id="meta_type_1" size="1">
    <option value="">Select Metadata Type</option>
{% for m in meta %} 
    <option value="{{m}}">{{m}}</option>
{% endfor %}
</select>
<input type="text" name="meta_value_1" id="meta_value_1" size="20" maxlength="" />
</div>
<input type="submit" value="Add Metadata" />
</form>
</p>
                            </td>
                        </tr>
                    </table>
                </div><!-- /obj-details -->
                <div id="obj-files">
                    <a class="add filelink" href="/">Add File</a>
                    <div id="filetree"></div>
                </div><!-- /obj-files -->
                <div id="obj-log">
                </div><!-- /obj-files -->
            </div><!-- /obj-tabs -->
        </div><!-- /item -->
    </div><!-- /object -->
{% endblock %}
