<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}Penn State University - CAPS{% endblock %}</title>
<link rel="stylesheet" href="/site_media/css/style.css" type="text/css" />

{% block cssfiles %}{% endblock %}

<style type="text/css">
{% block cssinline %}
{% endblock %}
</style>


<script src="/site_media/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="/site_media/js/modal.js" type="text/javascript" language="javascript"></script>

{% block jsfiles %}{% endblock %}

<script type="text/javascript" language="javascript">

{% block jscode %}{% endblock %}

</script>

</head>
<body>
<!-- hidenav -->
<div id="topheader">
    <h2 class="hidden">Penn State University -  CAPS</h2>
    <div id="psmark">
        <a href="http://www.psu.edu/"><img src="/site_media/img/subblue_shield.gif" alt="penn state mark" /></a>
    </div> <!-- psmark -->
    <div id="topheaderright">
        <!-- InstanceBeginEditable name="headertext" -->
        <h1>CAPS</h1>
        <!-- InstanceEndEditable -->
    </div><!--close #topheaderright-->
</div><!-- close #topheader-->

<div id="bottomheader">
    <h3 class="hidden">Primary Navigation</h3>
    <div id="primarynav">
    <!-- InstanceBeginEditable name="primarynav" -->
        <ul>
            {% block menu %}
            <li><a href="/pilot/icons/">Dashboard</a></li>
            <li><a href="/pilot/object/new/">Ingest Object</a></li>
            <li><a href="/pilot/batch/new/">Ingest Batch</a></li>
            {% endblock %}
        </ul>
    <!-- InstanceEndEditable -->
    </div><!-- close #primarynav -->
</div><!--close #bottomheader-->

<div class="stats">
<span style="font-size: 1.25em;font-weight: bold; color:#333366; padding-right: 10px">My Upload Stats:</span>
<span style="font-weight: bold; color: #990000;">&rsaquo;&rsaquo;</span><b>Objects</b> 15&nbsp;&nbsp;<!-- |&nbsp;&nbsp; -->
<span style="font-weight: bold; color: #990000;">&rsaquo;&rsaquo;</span><b>Files</b> 278&nbsp;&nbsp;<!-- |&nbsp;&nbsp; -->
<span style="font-weight: bold; color: #990000;">&rsaquo;&rsaquo;</span><b>Total Size</b> 1.2 GB

<span class="search">
<input type="text" value="search term" onfocus="this.value='';"/>
<input type="submit" value="go" />
</span>
</div>
<div id="content">
{% block content %}{% endblock %}
</div><!-- close #content -->
<div id="footer">
<p>
Copyright &copy; 2010 The Pennsylvania State University
</p>
</div>
</body>
</html>

